body{
background: linear-gradient(90deg, #16A085 0%, #F4D03F 100%);   
height: 1024px;
width: 1440px;
left: -721px;
top: -513px;
border-radius: 0px;
}
h1{
    position:relative;
    width: 792px;
    height: 124px;
    left: 150px;
    top: 69px;
    text-align: center;
   

    background: #FB3E60;
    border-radius: 50px 0px;

}
.titulo1{
    position: absolute;
    width: 269px;
    height: 57px;
    left: 50px;
    top: 265px;
    text-align: center;
    
    
    
    background: #C4C4C4;
    border-radius: 80px 0px;

}
.titulo2{
    position: absolute;
width: 269px;
height: 57px;
left: 421px;
top: 269px;
text-align: center;
background: #C4C4C4;
border-radius: 80px 0px;
}
.titulo3{
    position: absolute;
width: 269px;
height: 57px;
left: 798px;
top: 265px;
text-align: center;
background: #C4C4C4;
border-radius: 80px 0px;
}
.c1 {
    position: absolute;
width: 309px;
height: 307px;
left: 28px;
top: 359px;

background: url(snack1.jpg);
border-radius: 60px 60px 60px 0px;

}
.c1 img {
    width: 309px;
    height: 307px;
    border-radius: 60px 60px 60px 0px;
}
.c2{
    position: absolute;
    width: 309px;
    height: 307px;
    left: 403px;
    top: 359px;
    
    background: url(snack2.jpg);
    border-radius: 60px 60px 60px 0px;
}
.c2 img {
    width: 309px;
    height: 307px;
    border-radius: 60px 60px 60px 0px;}
.c3{
    position: absolute;
width: 309px;
height: 307px;
left: 778px;
top: 359px;

background: url(snack3.jpg);
border-radius: 60px 60px 60px 0px;
}
.c3 img{
    width: 309px;
    height: 307px;
    border-radius: 60px 60px 60px 0px;
}
.p1{
    position: absolute;
    width: 300px;
    height: 286px;
    left: 28px;
    top: 698px;
    text-align: center;
    margin: 10px;
    background: linear-gradient(90deg, #FF6E7F 0%, #BFE9FF 100%);

}
.p1 h3{
    margin: 20px;
}
.p1 ul li{
    text-align: left;
    margin: 10px;
}
.p2{
    position: absolute;
    width: 353px;
    height: 286px;
    left: 381px;
    top: 710px;
    text-align: center;
    background: linear-gradient(90deg, #FF6E7F 0%, #BFE9FF 100%);
}
.p2 ul li{
    text-align: left;
    margin: 10px;}
.p3{
    position: absolute;
    width: 319px;
    height: 286px;
    left: 778px;
    top: 710px;
    text-align: center;
    background: linear-gradient(90deg, #FF6E7F 0%, #BFE9FF 100%);
}
.p3 ul li{
    text-align: left;
    margin: 10px;}
.p{
    position: absolute;
width: 251px;
height: 44px;
left: 1146px;
top: 20px;
margin-top: 25px;
text-align: center;
background: #C4C4C4;
}
.form{
    position: absolute;
width: 274px;
height: 457px;
left: 1138px;
top: 100px;
border-radius: 50px;
background: linear-gradient(90deg, #2BC0E4 0%, #EAECC6 100%);
}
.cuadro{
    position: absolute;
width: 200px;
height: 45px;
left: 20px;
top: 200px;
text-align: center;
background: #27e456;
}
.dv{
    margin: 15px;
    top: 380px;
}
.circulo{
    position: absolute;
    width: 200px;
    height: 45px;
    left: 20px;
    top: 310px;
    text-align: center;
    background: #23cc69; 
}
.circulo i img{
    width: 50px;
    height: 50px;
}